<% unless comment.archived? %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <p>
    <%= link_to "Apagar Comentário", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Vocẽ tem certeza de que deseja DELETAR esse comentário?"
                } %>
  </p>
<% end %>
